@import './rem-calc.scss';

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 3rem;
	text-align: center;

	width: 80%;
	padding: rem-calc(20) 0;
	border-radius: rem-calc(10);

	text-decoration: none;

	&__primary {
		color: var(--lilas);
		background: var(--primary-color);
	}

	&__secondary {
		color: var(--lilas);
		background: var(--secondary-color);
	}
}
